<h1>Nova Promoção</h1>

<%= form_with model: @promotion, url: inn_dashboard_promotions_path do |f| %>
  <div>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :start_date, 'Data de Início' %>
    <%= f.date_field :start_date, class: 'form-control' %>
  <div>
  <div>
    <%= f.label :end_date, 'Data de Fim' %>
    <%= f.date_field :end_date, class: 'form-control' %>
  <div>
  <%= f.submit 'Criar Promoção', class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Voltar', inn_management_path, class: 'btn btn-secondary' %>